#include "\masm32\include\resource.h"

1000 DIALOGEX 6, 5, 286, 81
//STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE
//EXSTYLE WS_EX_CONTROLPARENT
STYLE 0x50000400
EXSTYLE 0x00010000
FONT 8, "Tahoma"
BEGIN
   CONTROL "Start", 1002, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 48, 40, 13 , 0x00020000
   CONTROL "Exit", 1003, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 62, 40, 13 , 0x00020000
   CONTROL " Select plugin ", 1001, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 0, 281, 80 
   CONTROL "", 1004, LISTBOX, LBS_NOTIFY | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 6, 9, 225, 65 , 0x00020000
END
